@media (min-width: 1920px){
  .promo{
    &__title-one-text,
    &__title-two-text{
      font-size: 168px;
    }
    &__item{
      font-size: 20px;
      padding: 15px 20px;
    }
    &__content-text{
      font-size: 25px;
    }
    &__quantity-title svg{
      width: 484px;
      height: 484px;
    }
    &__quantity-title-number{
      font-size: 131px;
    }
  }
  .vacancy{
    &__title{
      font-size: 70px;
      border-top: 3px solid $textColor;
      border-bottom: 3px solid $textColor;
      &::after {
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 10px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 4.5%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 100px;
        background-color: #FFFFFF;
      }
    }
    &__content-text-year__number{
      font-size: 123px;
    }
    &__content-text-year__text{
      font-size: 23px;
    }
    &__content-text-desc__text{
      font-size: 30px;
    }
    &__tabs-nav-item {
      font-size: 22px;
    }
    &__block-item{
      border-top: 2px solid #303030;
    }
    &__block-item__text{
      font-size: 22px;
    }
    &__link-title{
      font-size: 26px;
    }
  }
  .expand .vacancy__title::before{
    transform: rotate(90deg) translate(-50px, 8px);
  }
  .contact{
    &__item-container{
      border: 3px solid #C31E54;
    }
    &__item{
      font-size: 26px;
      padding: 15px 25px;
    }
    &__us-text{
      font-size: 35px;
    }

    &__us-link{
      font-size: 35px;
      border-bottom: 3px solid $textColor;
    }
  }
}
@media (max-width: 1880px){
  .promo{
    &__item{
      font-size: calc(1px + 20 * (100vw / 1880));
    }
  }
}
@media (max-width: 1435px){
  .promo{
    &__item{
      font-size: calc(5px + 9 * (100vw / 1435));
    }
  }
}
@media (max-width: 1630px){
  .contact{
    &__us{
      margin-top: calc(45% - 5px);
    }
  }
}
@media (max-width: 1402px){
  .promo{
    &__content{
        margin: 100px 0 0 0;
    }
  }
}
@media (max-width: 1340px){
  .promo{
    padding: 50px 0 0 0;
    &__inner{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, auto);
      align-items: center;
      justify-content: center;
    }
    &__items{
      grid-column: span 2;
      grid-row: 1/1;
      justify-self: center;
    }
    &__item{
      font-size: calc(6px + 21 * (100vw / 1340));
    }
    &__title-one{
      margin: 15px 0 0 0;
      grid-column: span 2;
      grid-row: 2/2;
    }
    &__title-two{
      grid-column: span 2;
      grid-row: 3/3;
    }
    &__quantity{
      grid-column: 1/1;
      grid-row: 4/4;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
    }
    &__content{
      grid-column: 2/2;
      grid-row: 4/4;
      align-self: start;
      margin: 0 0 0 0;
      padding: 40px 10px 0 0;
  }
  }
}
@media (max-width: 1270px){
  .contact{
    &__item-container:nth-of-type(1){
      top: -111px;
      left: 240px;
    }
    &__item-container:nth-of-type(3){
      top: 87px;
      left: 221px;
    }
  }
}
@media (max-width: 1050px){
 
  .vacancy{
    &__content-text-main{
      gap: 0 50px;
    }
    &__content-tabs{
      grid-column: span 2;
    }
    &__link{
      grid-column: span 2;
    }
  }
}
@media (max-width: 800px) {
  .contact{
    &__item-container:nth-of-type(1){
      top: -80px;
      left: 224px;
    }
    &__item-container:nth-of-type(3){
      top: 80px;
      left: 215px;
    }
  }
}
@media (max-width: 480px){
  .promo{
    &__item-container{
      border: 2px solid #C31E54;
    }
  }
  .contact{
    padding: 250px 0 100px 0;
    &__item{
      font-size: 12px;
    }
    &__item-container{
      border: 2px solid #C31E54;
    }
    &__item-container:nth-of-type(1){
      top: -60px;
      left: 135px;
    }
    &__item-container:nth-of-type(3){
      top: 40px;
      left: 125px;
    }
  }
}
@media (max-width: 400px){
  .promo{
    &__quantity{
      grid-column: 2/2;
      grid-row: 5/5;
    }
    &__content{
      grid-column: span 2;
      grid-row: 4/4;
      justify-self: end;
      margin: 0 0 0 0;
      padding: 20px 0 0 0;
    }
  }
  .vacancy{
    &__content-text-main{
      display: flex;
      flex-direction: column;
      gap: 20px 0;
    }
    &__block-inner{
      grid-template-columns: repeat(1, minmax(120px, 380px));
      gap: 20px 0;
    }
    .expand .vacancy__content {
      padding: 35px 0;
    }
    .expand .vacancy__title::before{
      transform: rotate(90deg) translate(-410%, 94%);
    }
    .expand .vacancy__content-tabs{
      padding: 25px 0 0 0;
    }
  }
}